extends ./layout.jade

block content
    .container
      br
      .jumbotron
        h1 Greetings.
        p Please check out my
          a(href='/create')  Contact List
          | !!!

block scripts
  script(type='text/javascript', src='js/main.js')
